<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="layout/LayoutPadrao">

<head>
<title>Cadastro De Cliente</title>
</head>
<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1 th:if="${cliente.novo}">Cadastro de Cliente</h1>
					<h1 th:unless="${cliente.novo}" th:text="|Edição Cliente ${cliente.nome}|">Edição de Cliente</h1>
				</div>
				
				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-link" th:href="@{/cliente}">
							<i class="fa  fa-fw fa-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
		
			</div>
		</div>
		</div>
			<form method="POST" th:object="${cliente}" 
				class="form-vertical  js-form-loading"  th:action="@{/cliente/novo}">
				
				<div class="alert  alert-success  alert-dismissible" role="alert" th:if="${not #strings.isEmpty(mensagem)}" th:fragment="mensagemSucesso">
					<button type="button" class="close" data-dismiss="alert" ><span aria-hidden="true">&times;</span></button>
					<span th:text="${mensagem}"></span>
				</div>
				
				<input type="hidden" th:field="*{id}">

				<div class="row">
					<div class="col-sm-6  form-group bw-required"  >
						<label for="nome" class="control-label">Nome</label> <input id="nome" type="text"
							class="form-control control-label" th:field="*{nome}" />
					</div>
				</div>
										
			    <div class="row">
					<div class="col-sm-4  form-group bw-required"  >
						<label for="cnpjCpf" class="control-label js-cpf">CPF/CNPJ</label> <input id="cnpjCpf" type="text"
							class="form-control control-label js-cpf-cnpj" disabled th:field="*{cnpjCpf}"/>
					</div>
					
					<div class="col-sm-2 "  >
						<label for="telefone" class="control-label">Telefone</label> <input id="telefone" type="text"
							class="form-control control-label js-phone-number" th:field="*{telefone}"/>
					</div>
			
				</div>
			
				<div class="row">
					<div class="form-group  col-sm-4 bw-required">
						<label class="control-label">Tipo pessoa</label>
						<div>

							<th:block th:each="tipoPessoa :  ${tiposPessoa}">

								<div class="radio  radio-inline">
									<input type="radio" th:id="|id_${tipoPessoa}|"
										class="js-tipo-pessoa" name="tipoPessoa"
										th:value="${tipoPessoa}" th:field="*{tipoPessoa}"
										data:documento="${tipoPessoa.documento}" > <label
										class="control-label" th:for="|id_${tipoPessoa}|"
										th:text="${tipoPessoa.descricao}">Física</label>
								</div>
							</th:block>

						</div>
					</div>
				</div>
				
				<div class="row">
				
						<div class="form-group col-sm-6" >
							<button class="btn  btn-success fa fa-check" type="submit">Salvar</button>
							<a class="btn btn-primary" th:href="@{/cliente/novo}">
								<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo</span>
							</a>
							<button class="btn  btn-warning fa fa-eraser js-limpar-cliente" type="button">Limpar Formulario</button>
						</div>
							
				</div>
			</form>
	</section>
</body>
</html>