<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="layout/LayoutPadrao">

<head>
<title>Pesquisa de Clientes</title>
</head>
<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Pesquisa de Cliente</h1>
				</div>
				
				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-link" th:href="@{/cliente/novo}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo</span>
						</a>
					</div>
				</div>
		
			</div>
		</div>
		</div>
		<div class="container-fluid">
			<form method="GET" th:object="${clienteFiltro}">
			
			    <div class="alert  alert-success  alert-dismissible" role="alert" th:if="${not #strings.isEmpty(mensagem)}" th:fragment="mensagemSucesso">
					<button type="button" class="close" data-dismiss="alert" ><span aria-hidden="true">&times;</span></button>
					<span th:text="${mensagem}"></span>
				</div>
			
				<div class="row">
					<div class="form-group col-sm-6">
						<label class="control-label" for="nome">Nome</label> <input
							type="text" class="form-control" id="nome" autofocus="autofocus"  th:field="*{nome}"/>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-4">
						<label class="control-label" for="cpfOuCnpj">CPF/CNPJ</label> <input
							type="text" class="form-control" id="cpfOuCnpj" autofocus="autofocus"  th:field="*{cpfCnpj}"/>
					</div>
			    </div>
				<button type="submit" class="btn btn-primary">Pesquisar</button>
			</form>

			<div class="table-responsive">
				<table class="table table-hover bw-tabela-simples table-striped table-bordered">
					<thead>
						<tr>							
									<th class="col-sm-4">Nome</th>
									<th class="col-sm-2">Tipo Pessoa</th>									
									<th class="col-sm-2">Cpf/Cnpj</th>
									<th class="col-sm-2">Telefone</th>
								    <th class="col-sm-2 text-center">Ações</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="cliente : ${clientes}">

							<td th:text="${cliente.nome}">Andre</td>
							<td th:text="${cliente.tipoPessoa}">FISICA</td>
							<td th:text="${cliente.cnpjCpf}">99999999999</td>
							<td th:text="${cliente.telefone}">999999</td>	
							<td class="text-center"><a class="btn  btn-link  btn-xs" th:href="@{cliente/{id}(id=${cliente.id})}"
								title="Editar"> <i class="glyphicon glyphicon-pencil"></i>
							</a> <a class="btn  btn-link  btn-xs" title="Excluir" th:href="@{cliente/excluir/{id}(id=${cliente.id})}"> <i
									class="glyphicon glyphicon-remove"></i>
							</a></td>

						</tr>
						<tr th:if="${#lists.isEmpty(clientes)}">
							<td colspan="7"><center><span>Nenhum cliente encontrado!</span></center></td>
						</tr>  
					</tbody>

				</table>
			</div>

		</div>			
	</section>
</body>
</html>