<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="layout/LayoutPadrao">

<head>
<title>Pesquisa de Ordem Serviço</title>
</head>
<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Pesquisa de Ordem Serviço</h1>
				</div>
				
				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-link" th:href="@{/ordemServico/novo}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo</span>
						</a>
					</div>
				</div>
		
			</div>
		</div>
		</div>
		<div class="container-fluid">
			<form method="GET" th:object="${ordemServicoFiltro}">
			
			    <div class="alert  alert-success  alert-dismissible" role="alert" th:if="${not #strings.isEmpty(mensagem)}" th:fragment="mensagemSucesso">
					<button type="button" class="close" data-dismiss="alert" ><span aria-hidden="true">&times;</span></button>
					<span th:text="${mensagem}"></span>
				</div>
			
				<div class="row">
					<div class="form-group col-sm-6">
						<label class="control-label" for="codigo">Codigo</label> <input
							type="text" class="form-control" id="codigo" autofocus="autofocus"  th:field="*{codigo}"/>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-4">
						<label class="control-label" for="cliente">Cliente</label> <input
							type="text" class="form-control js-autocomplete-ciente" id="cliente" autofocus="autofocus"  th:field="*{cliente.nome}"/>
							<input type="hidden" id="idCliente" th:field="*{cliente}">
					</div>
			    </div>
				<button type="submit" class="btn btn-primary">Pesquisar</button>
			</form>

			<div class="table-responsive">
				<table class="table table-hover bw-tabela-simples table-striped table-bordered">
					<thead>
						<tr>							
									<th class="col-sm-0">Codigo</th>
									<th class="col-sm-4">Cliente</th>									
									<th class="col-sm-4">Responsavel</th>
									<th class="col-sm-2">Valor Total</th>
								    <th class="col-sm-2 text-center">Ações</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="ordemServico : ${ordemServicos}">

							<td th:text="${ordemServico.id}">Andre</td>
							<td th:text="${ordemServico.cliente.nome}">FISICA</td>
							<td th:text="${ordemServico.responsavel.nome}">99999999999</td>
							<td th:text="${ordemServico.valorTotal}">999999</td>	
							<td class="text-center"><a class="btn  btn-link  btn-xs" th:href="@{ordemServico/{id}(id=${ordemServico.id})}"
								title="Editar"> <i class="glyphicon glyphicon-pencil"></i>
							</a> <a class="btn  btn-link  btn-xs" title="Excluir" th:href="@{ordemServico/excluir/{id}(id=${ordemServico.id})}"> <i
									class="glyphicon glyphicon-remove"></i>
							</a></td>

						</tr>
						<tr th:if="${#lists.isEmpty(ordemServicos)}">
							<td colspan="7"><center><span>Nenhuma ordem de serviço encontrada!</span></center></td>
						</tr>  
					</tbody>

				</table>
			</div>

		</div>			
	</section>
</body>
</html>